<!DOCTYPE html>
<html>
<head>
  <title>CRM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <div class="menu">
      <%= link_to 'All Customers', finder_path %>
      <%= link_to 'Missing Emails', missing_email_path %>
      <%= link_to 'Search Customers', search_path %>
      <%= link_to 'New Customer', new_customer_path %>
      <%= link_to 'Provinces', provinces_path %>
    </div>
    
    <section>
      <%= yield %>
    </section>
    <aside>
      <h2>My Friends</h2>
      <% if @my_friends.empty? %>
        <p><em>No friends. :(</em></p>
      <% else %>
        <% @my_friends.each do |friend| %>
          <p>
            <%= friend.full_name %><br>
            <%= render :partial => 'customers/friendlinks', :locals => { :customer => friend } %>
          </p>
        <% end %>
        <p>
          <%= link_to 'clear friends', clear_friends_path %>
        </p>
      <% end %>
    </aside>
  </div>

</body>
</html>
