<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu">
  <%= link_to 'All Customers', finder_path %>
  <%= link_to 'Missing Emails', missing_email_path %>
</div>

<%= yield %>

</body>
</html>
